<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>添加</title>
</head>
<body>
    <h3>添加品种</h3>
    <div class="form-wrapper">
           <form method="post" action="/stock/add" class="form-horizontal" novalidate>
              {% csrf_token %}
              {% for field in form %}
               <div class="form-group">
                <label class="col-sm-3 control-label">
                   {{ field.label_tag }}
               </label>
               <div class="col-sm-6 ">
                   {{ field }}
                   {{ field.errors}}
               </div>

               </div>
               {% endfor %}
              <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-8">
                      <input class="btn btn-info" type="submit" id="btnSave" value="添加">
                  </div>
              </div>
           </form>

        </div>
    </body>
</html>